<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test抢红包</title>
    <!-- 加载Query文件-->
    <script src="https://code.jquery.com/jquery-3.2.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var max = 30000;
            for(var i= 1;i <= max;i++){
                $.post({
                    url:"/grapRedPacket?redPacketId=1&userId="+i,
                    success:function (result) {

                    }
                });
            }


        });
    </script>
</head>
<body>

</body>
</html>